* {
    box-sizing: border-box;
  }
  body {
    background: #000;
  }
  .container {
    height: 10em;
    width: 45em;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
  }
  .container h1 {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 7.3em;
    position: absolute;
    line-height: 0;
  }
  .container img {
    position: absolute;
    width: 25em;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    animation: spin 8s infinite linear;
  }
  @keyframes spin {
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  .container h1:nth-child(3) {
    color: transparent;
    -webkit-text-stroke: 3px #ffb406;
  }
  